.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 28%; /* Depends on aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
