.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 33%; /* Depends on aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.pr-title {
  cursor: pointer;
  fill: #333;
}

.tick text,
.g-legend text {
  font-size: 7px;
  fill: #999;
}

.message-text {
  font-size: 8px;
  fill: #333;
}

.tick line {
  stroke: #999;
  stroke-width: 0.5;
}

.domain {
  stroke: #999;
  stroke-width: 0.5;
}

.no-pointer-events {
  pointer-events: none;
}

.sparkline-container {
  display: inline-block;
}
