.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  /* padding-bottom Depends on aspect ratio */
  padding-bottom: 33%;
  vertical-align: top;
  overflow: hidden;
}

.inline-svg-container {
  display: inline-block;
  width: 100%;
  font-size: 13px;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.pr-title {
  cursor: pointer;
  fill: #333;
}

.tick text,
.g-legend text {
  font-size: 12px;
  fill: #666;
}

.message-text {
  font-size: 8px;
  fill: #333;
}

.tick line {
  stroke: #666;
  stroke-width: 0.5;
}

.domain {
  stroke: #666;
  stroke-width: 0.5;
}

.no-pointer-events {
  pointer-events: none;
}

.sparkline-container {
  display: inline-block;
}
